
* {
  box-sizing: border-box;
}

body {
  background-color: #f73b3b;
}

.all {
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.temp-display {
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 2%;
  background-color: #f2ac50;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 100px;
  padding: 30px;
  font-size: 300%;

}

.buttons {
  position: relative;
  margin-left: 1%;
}

#psm {
  font-size: 150%;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}
